<div class="container color-box">
  <h1>ユーザー一覧</h1>

  <% @users.each do |user| %>
    <hr>
    <p><%= link_to user.name, user_path(user.id) %></p>
    <% if current_user.admin? %>
      <%= link_to "削除", user_path(user.id), method: :delete, data: {confirm: "本当に消しますか？"} %>
    <% end %>
  <% end %>
  <%= paginate @users %>
</div>