<div class="container color-box">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div >
    <h1>
      rails tutorialで学習した後にアウトプットとして<br>
      自分なりに考えて作りました！<br>
    </h1>
    <h3 class="home-concept">
      コンセプトは<span>シンプル</span>です。<br>
      機能性の部分をアウトプットしたいと思い
      そちらの部分を中心に取り組みました。<br>
      次に作るアウトプットではAjaxを取り入れたり、<br>
      フロントエンドも寂しすぎないようにJavaScriptやReactで<br>
      改善していきたいと思います！
    </h3>
    <br>
    <h4>管理者ID: example@test.com<br>パスワード: example </h4>
  </div>
</div>