<div class="container color-box">
  <div class="jumbotron">
    <h1>言葉広場へようこそ！</h1>
    <h4>
      それぞれが好きなように発信して人生を豊にしよう！<br>
      伝えたい事を発信したり、誰かを探したり、思いのままに使ってください！<br>
      気になる人がいたらフォローしよう！
    </h4>    
  </div>
</div>